%btn {
  height: $btn-height;
  border: 1px solid $btn-border-color;
  border-radius: $btn-border-radius;
  color: $btn-color;
  cursor: pointer;
  display: inline-block;
  font-size: $btn-font-size;
  font-weight: $btn-font-weight;
  padding: $btn-padding-y $btn-padding-x;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  outline: none;
}

%btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
  color: $btn-color;
}

.btn-primary {
  @extend %btn;
  @extend %btn-primary;
}

%btn-outline {
  border: 2px solid $btn-border-color;
  background-color: transparent;
  border-color: $btn-border-color;
  color: $btn-border-color;
}

.btn-outline {
  @extend %btn;
  @extend %btn-outline;
}
