%card {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  border-radius: $card-border-radius;
  box-shadow: $card-box-shadow;
  padding: $card-padding;
}

%card--info {
  background-color: $card-info-bg-color;
  p {
    color: $primary-color;
  }
}

.info-card {
  @extend %card;
  @extend %card--info;
}
