.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  .footer-content {
    display: flex;
    padding: 0 16px;
    max-width: $target-width;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    p {
      font-size: 14px;
      color: #696871;
    }
    a {
      text-decoration: none;
      font-size: 14px;
    }
  }
  margin: 10px 0;
}
