.default-input {
  outline: none;
  border: none;
  background-color: $input-bg-color;
  border-radius: $btn-border-radius;
  padding: 12px 0px 12px 16px;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 1rem;
}
