.home-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: $target-width;
  padding: 0 16px;
  padding-top: 48px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  .home__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    p:first-child {
      color: #282828;
    }
  }
  .upload {
    width: 100%;
    border-radius: 12px;
    background-color: #fff;
    padding: 24px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    margin-top: 36px;
  }
  .uploaded-files {
    text-align: left;
    margin-top: 24px;
    width: 100%;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    overflow: hidden;
    h2 {
      font-weight: 700;
      color: #3e3e3e;
    }
    .files-holder {
      padding: 24px;
    }
    .files-wrapper {
      margin-top: 24px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      .file {
        gap: 8px;
        display: flex;
        flex-direction: column;
        .row {
          display: flex;
          align-items: center;
        }
        .file__icon {
          width: 36px;
          height: 36px;
          margin-right: 8px;
          svg {
            width: 100%;
            height: 100%;
          }
        }
        .file__name {
          font-weight: 600;
          color: #282828;
        }
        .file__size {
          font-size: 10px;
          color: #87899c;
        }
        .file__delete {
          margin-left: auto;
          margin-right: 8px;
          cursor: pointer;
          svg {
            width: 24px;
            height: 24px;
          }
          &:hover {
            path {
              fill: $primary-color;
            }
          }
        }
        .file__progress {
          display: flex;
          .file__progress-bar {
            height: 4px;
            background-color: #e6e6e6;
            border-radius: 4px;
            flex: 1;
            margin-right: 8px;
            .file__progress-bar__inner {
              transition: width 0.3s ease-in-out;
              height: 100%;
              background-color: $primary-color;
              // background-color: #00b87c;
              border-radius: 8px;
            }
          }
        }
        .file__status {
          font-weight: 500;
          font-size: 12px;
          color: #87899c;
        }
        .file__completed {
          margin-left: auto;
          margin-right: 8px;
        }
      }
    }
    .button-holder {
      margin-top: 24px;
    }
  }
  .upload-success {
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 16px;
  }
  .tries-left {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    .row {
      display: flex;
      align-items: center;
      gap: 8px;
    }
    .tries-left__icon {
      width: 24px;
      height: 24px;
      svg {
        width: 100%;
        height: 100%;
      }
    }
    .tries-left__text {
      font-weight: 500;
      font-size: 12px;
      color: #87899c;
    }
  }
}
