.report-page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: $target-width;
  width: 100%;
  gap: 24px;
  padding: 0 16px;
  padding-top: 24px;
  .report {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    .report__name {
      h3 {
        font-weight: 700;
        font-size: 24px;
        color: #282828;
      }
    }
    .report__header {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-bottom: 12px;
      h2 {
        max-width: 75vw;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #3e3e3e;
      }
      p {
        color: #87899c;
      }
    }
    .report__sentences {
      margin: 0;
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      max-height: 0px;
      transition: max-height 0.3s linear;
      &.expanded {
        max-height: 1000px;
      }
      .group {
        margin: 8px 0;
      }
      .group__sentence {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: $primary-color;
      }
    }
    .report__type {
      margin-top: 12px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      .col {
        display: flex;
        flex-direction: column;
      }
      .btn-primary {
        width: 130px;
      }
      h3 {
        color: $primary-color;
      }
      .row {
        display: flex;
        gap: 8px;
      }
    }
  }
  .report-page__header {
    // h1 and searchbar
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    h1 {
      font-weight: 700;
      font-size: 32px;
      color: #282828;
    }
    .search {
      width: 100%;
      max-width: 400px;
      input {
        width: 100%;
        height: 40px;
        border: 1px solid #e0e0e0;
        border-radius: 8px;
        padding: 0 12px;
        font-size: 16px;
        color: #282828;
        &::placeholder {
          color: #87899c;
        }
        &:focus {
          outline: none;
          outline: 2px solid $primary-color;
        }
      }
    }
  }
  .authorize {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    width: min-content;
    margin: 0 auto;
    .authorize__header {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 24px;
      h3 {
        max-width: 75vw;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #3e3e3e;
      }
      p {
        color: #87899c;
      }
    }
    .authorize__body {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 12px;
      .btn-primary {
        width: 130px;
      }
    }
  }
}
