$bg-main-color: #f2f3f7;
$primary-color: #0541f0;

$btn-border-color: $primary-color !default;
$btn-border-radius: 8px !default;
$btn-color: #fff !default;
$btn-height: 44px !default;
$btn-font-size: 14px !default;
$btn-font-weight: 600 !default;
$btn-padding-x: 16px !default;
$btn-padding-y: 12px !default;
