@import "constants";

* {
  box-sizing: border-box;
}

html,
#root,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: $bg-main-color;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@import "typography";
@import "component/mainNav";
@import "component/homePage";
@import "component/fileUpload";

@import "ui/buttons";
@import "ui/cards";
